.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.dice {
  /* text-align: center; */
  width:50%;
  display: inline-block;
  padding: 5px;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p, #winner {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  /* width: 30%; */
  /* margin-left: 20px; */

}
.img1 {

}
.img2 {


}
.btn {
  /* margin: 10px 380px 30px; */
  background-color: green;
  color: white;
}

footer {
  font-size: 2rem;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
