
  body {
    background-color: #EAF6F6;
  }
  h1 {
    font-family: 'Montserrat-Black';
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;
  }
  h3 {
      color: #66BFBF;
  }
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 15px;
  width: 35%;
  margin: 0 auto 2%;
}

td {
  padding-left: 30px;
  padding-right: 30px;
}
th {
  text-align: center;
  line-height: 2;
  font-size: 20px;
}

.circular {
  border-radius: 100%;

}
.books-teaching {
    padding-left: 30px;
    padding-top: 30px;
}
#title-menu {

}
.welcome {
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}
#work-experience {
  margin-left: 30px;
  padding-top: 30px;
}
#work-skills {
  padding-left: 30px;
  padding-top: 30px;
}
/* section hobbies */
#hobbies {
    margin: 10px auto 10px 70px;
}

.btn {
  font-size: 16px;
  width: 10%;
  height: 5%;
  border-radius: 12px;
}
.btn:hover {
  background-color: yellow;
}
